<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzOQdlvtw4yP2tsUcK-CVUOXbLJXe7eRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>841060457397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geminiChatbot</string>
	<key>PROJECT_ID</key>
	<string>botbuddy-ef467</string>
	<key>STORAGE_BUCKET</key>
	<string>botbuddy-ef467.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841060457397:ios:13e5539e2cba1081b957fc</string>
</dict>
</plist>